* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color:#222831;
    color: #eeeeee;
    font-family: "Lato", sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x:center;
}

.fa-solid {
    margin-left: 6px;
}

header {
    background-color: #fd7014;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
}

div.headerLinkContainer {
    color: #393e46;
    background-color: #eeeeee;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}

div.headerLinkContainer p {
    color: #222831;
    text-align: center;
}

.linkHeader{
    color: #393e46;
}

div.formContainer {
    border-radius: 5px;
    background-color: #393e46;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#crearEjercicioContainer {
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

form.nombreUsuarioForm, form#crearEjercicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

button#cargarNombre, button#agregarEjercicio {
    border: none;
    font-family: "Lato", sans-serif;
    background-color: #eeeeee;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

h2#tituloNiveles{
    text-align: center;
    margin: 10px;
}

div.options-container {
    display: flex;
    justify-content: space-around;
    margin: 0% 10% 0% 10%;
    padding: 5px;
}

div.option-card {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

div#card-principiante {
    background-color: #fd7014;
    color: #393e46;
}

div#card-intermedio {
    background-color: #eeeeee;
    color: #222831;
}

div#card-avanzado {
    background-color: #393e46;
    color: #eeeeee;
}

div.rutina-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

div.card-ejercicio {
    background-color: #393e46;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

img#imagen-ejercicio {
    width: 145px;
}

/* Diseño de la pagina manual.html*/

main.main-manual {
    display: flex;
    flex-direction: row;
}
div.tipos-container {    
    display: flex;
    justify-content: space-around;

}

div.tipo-button {
    display: flex;
    width: 150px;
    height: 70px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    
}

#ECTS {
    background-color: #e7cc65;
    color: #393e46;
}

#ECTI {
    background-color: #fd7014;
    color: #222831;
}

#EPTS {
    background-color: #eeeeee;
    color: #393e46;
}

#EPTI {
    background-color: #a7c5fa;
    color: #393e46;
}

#EF {
    background-color: #1b383a;
    color: #eeeeee;
}

#S {
    background-color: #410825;
    color: #eeeeee;
}

div.carrito {
    background-color: #eeeeee;
    width: 200px;
    height: 100vh;
}

div#contenedor-tipos {
    flex-grow: 1;
}
div.card-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.boton-cierre {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

div.boton-cierre#boton-cancelar {
    background-color: #410825;
}

div.boton-cierre#boton-confirmar {
    background-color: #fd7014;
}

div.card-ejercicio-carrito {
    background-color: #393e46;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
}

h5.titulo-ejercicio-carrito {
    flex-grow: 1;
}
div.borrar-ejercicio {
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    margin: auto;
}

/* Diseño de la card de la pelicula */

div.pelicula {
    background-color: #393e46;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: auto;
    
}

img.poster {
    width: 150px;
    margin: 5px;
}

/* diseño pagina usuario */

div.opciones-usuario {
    background-color: #393e46;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    width: 300px;
}

div#cerrar-sesion {
    background-color: red;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
